<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Title</th>
      <th scope="col">Genre</th>
      <th scope="col">demo</th>
      <th scope ="col">Approve/delete</th>
    </tr>
  </thead>
  
  <tbody>
    {{#each unapproved }}
      <tr>
          <th scope="row">{{ name }}</th>
          <td>{{ title }}</td>
          <td>{{ genre }}</td>
          <td><div class="sc-embed" sc_url="{{ link }}"></div>{{ link }}</td>
          <td><form method="POST" action="/approve/{{ _id }}"><button type="submit" class="btn btn-outline-success waves-effect btn-sm">Approve</button></form>
          <form method="POST" action="/delete/{{ _id }}"><button type="submit" class="btn btn-outline-danger waves-effect btn-sm">Delete</button></form></td>
      </tr>
    {{/each}}
  </tbody>
</table>